#Fotoprofilo {
    margin-left: 25%;
    margin-right: 25%;
}


#layout {
    text-align: center;
    background-color: #c7c5c180;
    border-bottom: 1px darkgoldenrod;
}


#centro {
    display: block;
    margin: 0px auto;
    text-align: center;
    }

h2 {
    color: DarkGoldenRod;
}

h3 {
     font-style: italic;
}

p {
    resize: 900px
}

#final {
    text-align: center;
}